out
.idea
/src/academy/everyonecodes/java/week1/examples1/
/src/academy/everyonecodes/java/week1/examples2/
/src/academy/everyonecodes/java/week1/extra/
/src/academy/everyonecodes/java/week2/examples/
