out
.idea
/src/academy/everyonecodes/java/week1/examples/
/src/academy/everyonecodes/java/week1/extra/
/src/academy/everyonecodes/java/week2/examples/
/lib/
/src/academy/everyonecodes/java/week3/examples/
/src/_codewars/
/src/academy/everyonecodes/java/week4/examples/
/src/academy/everyonecodes/java/week5/examples/
/src/academy/everyonecodes/java/week7/examples/
/src/academy/everyonecodes/java/week8/extra_exercises/
